form(method='POST')
    label Name:
        input(type='text' name='name' value=board.name required)
    br
    label Description:
        input(type='text' name='description' value=board.description required)
    br
    button(type='submit') Submit